<div class="divPrincipal">

  <div class="div1">
    <label for="nombre"> Nombre: </label>
    <input type="text" name="nombre" (keyup)="cargarNombre($event)">
  </div>

  <div class="div2">
    <label for="apellido"> Apellido: </label>
    <!--Con el keyup estoy capturando el evento de presionado de una tecla-->
    <input type="text" name="apellido" (keyup)="cargarApellido($event)">
  </div>

  <div class="div3">
    <label for="dni"> DNI: </label>
    <input type="number" name="dni" (keyup)="cargarDni($event)">
  </div>

</div>


<div class="flex-container">
  <div>1</div>
  <div>2</div>
  <div>3</div>  
</div>


<!--Estoy usando estos valores desde el controlador-->
<p>{{textoParaMostrar}}</p>
<p>{{fecha}}</p>
{{numero}}



<ul>
  <li>Naranja</li>
  <li>Manzana</li>
  <li>Pera</li>
</ul>


<input type="button" value="ACEPTAR" (click)="mostrarMensaje()">


<h1>Datos de la persona: </h1>

<h1>{{resultado}}</h1>

